@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?i8w3r8');
    src:  url('../fonts/icomoon.eot?i8w3r8#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?i8w3r8') format('truetype'),
      url('../fonts/icomoon.woff?i8w3r8') format('woff'),
      url('../fonts/icomoon.svg?i8w3r8#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
body{
    height: 2000px;
}
.w{
    width: 1200px;
    margin: 0 auto;
}
.fr{
    float: right;
}
.fl{
    float: left;
}
.style_red{
    color: red;
}
/* 快捷导航模块 */
.shortcut{
    height: 31px;
    line-height: 31px;
    background-color: #f1f1f1;
    color: #666;
    font-size: 12px;
}
.shortcut .fl ul li,
.shortcut .fr ul li{
    float:left;
}
/* 选择偶数项的li */
.shortcut .fr ul li:nth-child(2n){
    height: 12px;
    width: 1px;
    background-color: #666;
    margin: 9px 16px 0px;
}
.arrow-icon::after{
    content:'\e900';
    font-family: 'icomoon';
    margin-left: 5px;
}
header{
    position: relative;
    height: 105px;   
}
.logo {
    position: absolute;
    top: 18px;
    height: 61px;
    width: 171px;    
}
/*！！！！ h1标签会占领空间使页面上的logo下降 */
/* .logo h1{
    line-height: 0;
} */
header .logo a{
/* 当a标签转化成行内块元素的时候，h1标签会占领页面，
当a标签是块级元素的时候，h1标签不会占领页面。 */
    display:block;
    /* overflow: hidden; */
    height:61px;
    width: 100%;
    /* text-indent: -9999px; */
    background-image:url(../images/logo.png) ;
    font-size:0;
}
.seacher-box{
    position: absolute;
    top: 27px;
    left: 347px;
    height:34px;
    width: 538px; 
    font-size: 0;
}
.seacher-box input{
    height: 34px;
    width: 454px;
    border: #b1191a 2px solid;
    border-right:none;
    padding-left:10px;
    font-size: 14px;
    color:#666;
    vertical-align: top;
}
.seacher-box button{
    height:34px;
    width: 84px;
    background-color:#b1191a;
    border: none;
    color: #fff;
    font-size: 16px;
    vertical-align: top;
}
.hotwords{
    position: absolute;
    top: 60px;
    left: 347px;
    margin-top: 7px;
}
.hotwords ul li{
    float: left;
    padding: 0 12px;
}
.shopcar{
    position: absolute;
    right: 62px;
    top: 27px;
    height:34px;
    line-height:34px;
    align-content: center;
    border: #dfdfdf 1px solid;
    width: 140px;
    background-color: #f7f7f7;
}
.count::before{
    content:'\e93a';
    font-family: 'icomoon';
    margin:0 7px 0 19px;
    color: #b1191a;
}
.count::after{
    content:'\e901';
    font-family: 'icomoon';
    margin:0px 13px;
    vertical-align: middle;
}
.shopcar i{
    position: absolute;
    top: -5px;
    left: 100px;
    height:14px;
    padding: 0 3px;
    line-height: 14px;
    color:#fff;
    background-color: #b1191a;
    border-radius: 7px 7px 7px 0;
}
.nav{
    height: 47px;
    border-bottom: 2px solid #b1191a;
}
.nav .dropdown{
    width: 209px;
    height:47px; 
    background-color: #b1191a;
}
.nav .dt {
    height: 47px;
    width: 209px;
    text-align: center;
    line-height: 47px;
    font-size: 16px;
    color: #fff;
}
.nav .dd{
    /* display: none; */
    height: 465px;
    width: 209px;
    background-color: #c81623;
}
.nav .dd ul{
    height: 465px;
}
.nav .dd li{
    height: 31px;
    line-height: 31px;
    margin-left: 2px;
    padding: 0 10px;
}
.nav .dd a{
    font-size: 14px;
    color:#fff;
}
.nav .dd li:hover a{
    color:#c81623;
}
.nav .dd li:hover{
    color:#c81623;
    background-color: #fff;
}
.nav .dd li::after{
    float:right;
    content:'\e901';
    font-family: 'icomoon';
    vertical-align: middle;
    color: #f4ebeb;
}
.navitems ul{
    margin: 14px 10px;
}
.navitems ul li{
    float: left;
    color: #333;
}
.navitems ul li a{
    padding: 0 24px;
    font-size:16px;
}
footer{
    height: 418px;
    background-color: #f5f5f5;
    /* text-align: center; */
}
.mod_service{
    height: 108px;
    border-bottom: 1px solid #ccc;
}
.mod_service ul{
    padding-left: 35px;
    padding-top: 30px;
}
.mod_service ul li{
    float:left;
    width:230px;
    height: 50px;
}
.mod_service h5{
    float: left;
    height: 50px;
    width: 50px;
    margin-right: 6px;  
}
.mod_service .zheng {
    background: url(../images/untitled.png) no-repeat -253px -2px;
}
.mod_service .send{
    background: url(../images/untitled.png) no-repeat -254px -54px;
}
.mod_service .shou{
    background: url(../images/untitled.png) no-repeat -256px -105px;
}
.mod_service .service{
    background: url(../images/untitled.png) no-repeat -257px -156px;
}
.mod_service .help{
    background: url(../images/untitled.png) no-repeat -257px -208px;
}
.mod_service ul li h6{
    padding-top: 8px;
    font-size: 14px;
    color: #333;
}
.mod_help {
    height: 188px;
    border-bottom: 1px solid #ccc;
}
.mod_help ul{
    float: left;
    padding-left: 52px;
}
.mod_help ul li{
    float: left;
    height: 155px;
    width: 199px;
    margin-top: 23px;
}
.mod_help dt{
    margin-bottom: 7px;
    font-size: 16px;
    color: #333;
}
.mod_help dd{
    font-size: 12px;
    font-family: "宋体";
    line-height: 18px;

}
.mod_help li:last-child{
    width: 92px;
    text-align: center;
}
.mod_copyright ul {
    height: 45px;
    padding-left: 115px;
    /* margin: 0 auto; */
}
.mod_copyright ul li{
    float: left;
    height: 45px;
    line-height: 45px;
    margin: 0 auto;
    /* ！！！！！这个属性在这里不起作用
    text-align: center; */
}
.mod_copyright ul li:nth-child(2n){
    height: 12px;
    width: 1px;
    margin: 17px 15px 0;
    background-color: #999;
}
.mod_copyright ul li,
.mod_copyright p{
    font-size: 12px;
    color:#666;
    font-family: "宋体";
    text-align: center;   
}







